.header{
  text-align: center;
  background-color: darkcyan;
  height: 110px;
  padding: 35px;
}
.headerText{
  color: white;
  font-family: "Lucida Handwriting";
}
.inner-content {
  text-align: center;
  vertical-align: middle;
  background: #fff;
}
.form{
  margin-top: 150px;
  margin-left: 25%;
  max-width: 800px;
}
.register-area{
  margin-bottom: 8px;
}
