<nz-layout style="min-height: calc(100vh)">
  <nz-header class="header">
    <h1 class="headerText">Virtual Community</h1>
  </nz-header>

  <nz-content class="inner-content">
    <form class="form" nz-form [formGroup]="infoForm" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">用户名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="用户名不得为空">
          <label for="username"></label><input nz-input formControlName="username" id="username" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">性别</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="性别不得为空，系统将依据性别为您生成虚拟形象">
          <nz-radio-group id="gender" formControlName="gender">
            <label nz-radio nzValue="man">男</label>
            <label nz-radio nzValue="woman" style="margin-left: 20px">女</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="密码不得为空">
          <label for="password"></label><input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="passwordConfirm" nzRequired>确认密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
          <label for="passwordConfirm"></label><input nz-input type="password" formControlName="passwordConfirm" id="passwordConfirm" />
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">确认密码不得为空</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              两次密码输入不一致
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="邮箱格式不正确">
          <label for="email"></label><input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>电话号码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="infoForm.controls['phone']"
          nzErrorTip="请输入注册手机号码">
          <label for="phone"></label><input formControlName="phone" id="phone" nz-input />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">注&emsp;册</button>
          <p></p>
          已有帐户？
          <a routerLink="">去登陆吧！</a>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-content>

  <app-footer></app-footer>
</nz-layout>
