.header{
  background-image: url("../../../assets/img/header.png");
  height: 150px;
  text-align: center;
  line-height: 150px;
}
.headerText{
  color: white;
  font-family: "Lucida Handwriting";
}
.inner-content {
  text-align: center;
  vertical-align: middle;
  background: #fff;
}
.form{
  margin-top: 150px;
  margin-left: 25%;
  max-width: 800px;
}
.register-area{
  margin-bottom: 8px;
}
