 <!-- 
 
 <el-aside>
    <ul class="courseList">
        <h1 style="text-align: center;">课堂</h1>
        <li *ngFor="let item of courseList"> 
            <a class="course-sidebar" [routerLink]="['/assignTask']" routerLinkActive="router-link-active"
                [queryParams]="{course:item.course}">
                {{item.course}}: {{item.className}}</a>
            <br>
            <br>
    </ul>
</el-aside> 
 -->
 <app-menu></app-menu>
 <div el-header class="header" style="font-family: cursive;">Community courses</div>
  <a href="/communityScene">
  <i nz-icon nzType="left"></i>
Back to Community
</a>
 <nz-list class="courseList" nzItemLayout="horizontal" >
    <nz-list-item *ngFor="let item of courseList">
      <nz-list-item-meta [routerLink]="['/scene']" routerLinkActive="router-link-active"
      [queryParams]="{course:item.course}">
        <nz-list-item-meta-title>
            <h1 style="text-align: center;color: rgb(95, 85, 59);font-family: cursive;" >{{item.course}}</h1>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
            <h2 style="text-align: center;color: rgb(99, 111, 94);font-family: cursive;">{{ item.className }}</h2>
        </nz-list-item-meta-description>
          
       
      </nz-list-item-meta>
    </nz-list-item>
    <nz-list-empty *ngIf="courseList.length === 0"></nz-list-empty>
  </nz-list>
  
`