<div style="background-color: white;">
  <ul nz-menu nzTheme="light" nzMode="inline">
    <li nz-menu-item>
      <a (click)="routerTo('personalInfo')">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        基本信息
      </a>
    </li>
    <li nz-menu-item>
      <a (click)="routerTo('personalInfo/Task')">
        <i nz-icon nzType="read" nzTheme="outline"></i>
        我的任务
      </a>
    </li>
    <li nz-menu-item>
      <a (click)="routerTo('personalInfo/myFreeTask')">
        <i nz-icon nzType="file-image" nzTheme="outline"></i>
        我发布的任务
      </a>
    </li>
  </ul>
</div>


