<app-menu></app-menu>
<div el-header class="header" style="font-family: cursive;">Free Task</div>
<nz-content style="margin-top: 50px;">
<form nz-form [formGroup]="freeTask" (ngSubmit)="onSubmitFree()">
    
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>任务内容</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="写点啥!">
          <textarea formControlName="content" nz-input rows="2" placeholder="写点啥"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>任务经验值</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入任务经验值">
            <nz-input-number formControlName="taskExp" [nzMin]="1" [nzMax]="10000" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!freeTask.valid">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    </nz-content>