<div>
  <ul class="menu" nz-menu nzMode="horizontal">
    <li nz-menu-item (click)="routerTo('communityScene')">
      <i nz-icon nzType="team" nzTheme="outline"></i>
      前往社区
    </li>
    <li nz-menu-item style="float: right" (click)="routerTo('logout')">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
      退出登录
    </li>
    <li nz-menu-item style="float: right" (click)="routerTo('personalInfo')">
      <i nz-icon nzType="home" nzTheme="outline"></i>
      个人资料
    </li>
  </ul>
</div>

<nz-modal [(nzVisible)]="isVisibleUser" nzTitle="用户信息" (nzOnCancel)="Cancel()" (nzOnOk)="Ok()">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="{{user.username}}">
      <nz-descriptions-item nzTitle="性别">{{user.gender | genderTransform}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="经验值">{{user.ev}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="状态">{{user.status}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="注册日期">{{user.registerDate | date}}</nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
</nz-modal>
