<nz-layout style="min-height: calc(100vh)">
  <nz-header class="header">
    <h1 class="headerText">我的资料</h1>
  </nz-header>

  <app-menu></app-menu>

  <nz-layout>
    <nz-sider style="background-color: white;">
      <app-personal-side></app-personal-side>
    </nz-sider>

    <nz-content class="inner-content">
      <nz-descriptions nzTitle="我的信息">
        <nz-descriptions-item nzTitle="用户名">{{info.username}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="注册手机号码">{{info.phoneNum}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="注册邮箱">{{info.email}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="经验值">{{info.ev}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="注册日期">{{info.registerDate}}</nz-descriptions-item>
      </nz-descriptions>

      <p></p>
      <p style="font-weight: bold">告诉其他同伴你的当前状态吧！</p>
      <label>
        <input nz-input placeholder="我的状态" [(ngModel)]="status" style="width: 200px"/>
      </label>
      <button nz-button nzType="primary" (click)="statusConfirm()"
      style="margin-left: 10px">设置</button>

    </nz-content>
  </nz-layout>

  <app-footer></app-footer>
</nz-layout>
