<nz-layout>
  <nz-header class="header">
    <h1 class="headerText">我的资料</h1>
  </nz-header>

  <app-menu></app-menu>

  <nz-layout>
    <nz-sider style="background-color: white;">
      <app-personal-side></app-personal-side>
    </nz-sider>

    <nz-content class="inner-content">
      <nz-descriptions nzTitle="Basic Info"  style="text-align: center; " *ngFor="let Info of Info">
        <nz-descriptions-item nzTitle="UserName">{{Info.username}}</nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions  *ngFor="let Info of Info">
        <nz-descriptions-item nzTitle="Email">{{Info.email}}</nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions  *ngFor="let Info of Info">
        <nz-descriptions-item nzTitle="Phone">{{Info.phone}}</nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions  *ngFor="let Info of Info">
        <nz-descriptions-item nzTitle="RegDate">{{Info.regDate}}</nz-descriptions-item>
      </nz-descriptions>

    </nz-content>
  </nz-layout>

  <app-footer></app-footer>
</nz-layout>
