<nz-layout style="min-height: calc(100vh)">
  <nz-header class="header">
      <h1 class="headerText">Virtual Community</h1>
  </nz-header>

  <nz-content class="inner-content">
    <div nz-row>
      <div nz-col nzSpan="12">
        <img src="assets/img/index.jpg" class="img">
      </div>
      <div nz-col nzSpan="12">
        <nz-tabset nzType="card" class="login-card" nzCentered="true">
          <nz-tab style="width: 50%;font-family: cursive;color: black;" nzTitle="学生登录">
            <nz-card nzTitle="登&emsp;录">
              <form nz-form [formGroup]="infoForm" (ngSubmit)="submit('student')">
                <nz-form-item>
                  <nz-form-control nzErrorTip="请输入用户名">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input formControlName="username" placeholder="用户名" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="请输入密码">
                    <nz-input-group nzPrefixIcon="lock">
                      <input type="password" nz-input formControlName="password" placeholder="密码" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-button" [nzType]="'primary'">进入社区</button>
                <p></p>
                没有帐户？
                <a routerLink="/register">注册一个！</a>
              </form>
            </nz-card>
          </nz-tab>

          <nz-tab style="width: 50%;font-family: cursive;color: black;" nzTitle="老师登录">
            <nz-card nzTitle="登&emsp;录">
              <form nz-form [formGroup]="infoForm" (ngSubmit)="submit('teacher')">
                <nz-form-item>
                  <nz-form-control nzErrorTip="请输入用户名">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input formControlName="username" placeholder="用户名" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="请输入密码">
                    <nz-input-group nzPrefixIcon="lock">
                      <input type="password" nz-input formControlName="password" placeholder="密码" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-button" [nzType]="'primary'">进入管理页面</button>
                <p></p>
                没有帐户？
                <a routerLink="/register">注册一个！</a>
              </form>
            </nz-card>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>

  </nz-content>
  <app-footer></app-footer>
</nz-layout>
