.header{
  background-image: url("../../../assets/img/header.png");
  height: 150px;
  text-align: center;
  line-height: 150px;
}
.headerText{
  color: white;
  font-family: "Lucida Handwriting";
}
.img{
  width: 350px;
  height: 500px;
  margin-top: 20px;
  margin-left: 20%;
}
.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 550px;
}
.login-card {
  margin-left: 20%;
  margin-top: 15%;
  width: 300px;
  height: 300px;
  text-align: center;
}
.login-button {
  width: 100%;
}
