<nz-layout style="min-height: calc(100vh)">
  <nz-header class="header">
    <h1 class="headerText">学习社区管理</h1>
  </nz-header>

  <nz-layout>
    <nz-sider style="background-color: white;">
      <ul nz-menu nzTheme="light" nzMode="inline">
        <li nz-menu-item>
          <a (click)="routerTo('admin/check')">
            <i nz-icon nzType="audit" nzTheme="outline"></i>
            审核发布的任务
          </a>
        </li>
        <li nz-menu-item>
          <a (click)="routerTo('admin/checkFinished')">
            <i nz-icon nzType="audit" nzTheme="outline"></i>
            审核完成的任务
          </a>
        </li>
        <li nz-menu-item>
          <a (click)="routerTo('admin/assignTask')">
            <i nz-icon nzType="read" nzTheme="outline"></i>
            发布任务
          </a>
        </li>
        <li nz-menu-item style="float: right">
          <a (click)="routerTo('logout')">
            <i nz-icon nzType="logout" nzTheme="outline"></i>
            退出登录
          </a>
        </li>
      </ul>
    </nz-sider>

    <nz-content style="background-color: white;">
      <nz-tabset nzType="card" nzSize="large" nzCentered="true">
        <nz-tab style="width: 50%;font-family: cursive;color: black;" nzTitle="团队任务">
          <nz-table #tableGroup [nzData]="tableDataGroup" nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzWidth="60px"></th>
              <th
                *ngFor="let column of listOfColumns"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections">
                {{ column.name }}
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of tableGroup.data">
              <tr>
                <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                <td>{{ data.name }}</td>
                <td>{{data.uploaderUsername}}</td>
                <td>{{ data.optional | optionalTransform}}</td>
                <td>{{ data.teamSize | teamSizeTransform}}</td>
                <td>{{ data.ddl | date }}</td>
                <td>
                  <button nz-button nzType="default" (click)="passGroup(data.userId, data.groupId, data.id)">
                    检查通过
                  </button>
                </td>
                <td>
                  <button nz-button nzType="default" (click)="downloadGroupFile(data.groupId, data.file)">
                    下载附加提交文件
                  </button>
                </td>
              </tr>
              <tr [nzExpand]="expandSet.has(data.id)">
                <nz-descriptions nzTitle="任务详情">
                  <nz-descriptions-item nzTitle="任务名称">{{data.name}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务类型">{{data.optional | optionalTransform}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务经验值">{{data.ev}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务发布者">{{data.publisher_name}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="发布者联系电话">{{data.publisher_phone}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="发布者联系邮箱">{{data.publisher_email}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务状态">{{data.validity | validityTransform}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务截止日期">{{data.ddl | date}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务描述">{{data.description}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="提交者">{{data.uploaderUsername}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="提交者联系电话">{{data.uploaderPhone}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="提交者邮箱">{{data.uploaderEmail}}</nz-descriptions-item>
                </nz-descriptions>
              </tr>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-tab>

        <nz-tab style="width: 50%;font-family: cursive;color: black;" nzTitle="个人任务">
          <nz-table #tablePerson [nzData]="tableDataPerson" nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzWidth="60px"></th>
              <th
                *ngFor="let column of listOfColumns"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections">
                {{ column.name }}
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of tablePerson.data">
              <tr>
                <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                <td>{{ data.name }}</td>
                <td>{{data.uploaderUsername}}</td>
                <td>{{ data.optional | optionalTransform}}</td>
                <td>{{ data.teamSize | teamSizeTransform}}</td>
                <td>{{ data.ddl | date }}</td>
                <td>
                  <button nz-button nzType="default" (click)="passPerson(data.userId, data.id)">
                    检查通过
                  </button>
                </td>
                <td>
                  <button nz-button nzType="default" (click)="downloadPersonalFile(data.userId, data.id, data.file)">
                    下载附加提交文件
                  </button>
                </td>
              </tr>
              <tr [nzExpand]="expandSet.has(data.id)">
                <nz-descriptions nzTitle="任务详情">
                  <nz-descriptions-item nzTitle="任务名称">{{data.name}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务类型">{{data.optional | optionalTransform}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务经验值">{{data.ev}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务发布者">{{data.publisher_name}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="发布者联系电话">{{data.publisher_phone}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="发布者联系邮箱">{{data.publisher_email}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务状态">{{data.validity | validityTransform}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务截止日期">{{data.ddl | date}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="任务描述">{{data.description}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="提交者">{{data.uploaderUsername}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="提交者联系电话">{{data.uploaderPhone}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="提交者邮箱">{{data.uploaderEmail}}</nz-descriptions-item>
                </nz-descriptions>
              </tr>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-tab>
      </nz-tabset>
    </nz-content>
  </nz-layout>

</nz-layout>
