
<div el-header class="header" style="font-family: cursive;">Management</div>
<nz-layout>
  <nz-sider style="background-color: white;">
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item  >
        <i nz-icon nzType="audit" nzTheme="outline"></i>
      <span><a href="personalInfo"></a>Check</span>
      </li>
      <li nz-menu-item>
          <i nz-icon nzType="read" nzTheme="outline"></i>
        <span> <a href="assignTask"></a>Assign Task</span>
      </li>
      </ul>
  </nz-sider>
  <nz-content style="background-color: white;">
    <nz-tabset nzType="card" nzSize="large" nzCentered="true">
    <nz-tab style="width: 50%;font-family: cursive;color: black;" nzTitle="团队任务">
    <nz-table nzTableLayout="fixed" #borderedTable nzBordered [nzData]="tableDataGroup">
        <thead>
        <tr>
          <th>任务名称</th>
          <th>任务类型</th>
          <th>任务人数</th>
          <th>截止日期</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableDataGroup, let i = index">
            <td>{{ data.name }}</td>
            <td>{{ data.optional }}</td>
            <td>{{ data.teamsize }}</td>
            <td>{{ data.ddl }}</td>
            <td>
                <button nz-button nzType="default" (click)="passGroup(data.id,data.name)">通过</button></td>
          </tr>
          
        </tbody>
      </nz-table>
      </nz-tab>
      
      <nz-tab style="width: 50%;font-family: cursive;color: black;" nzTitle="个人任务">
        <nz-table nzTableLayout="fixed"  #borderedTable nzBordered [nzData]="tableDataPerson">
            <thead>
            <tr>
              <th>任务名称</th>
              <th>任务类型</th>
              <th>截止日期</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableDataPerson, let i = index">
                <td>{{ data.name }}</td>
                <td>{{ data.optional }}</td>
                <td>{{ data.ddl }}</td>
                <td>
                    <button nz-button nzType="default" (click)="passPerson(data.id,data.name)">通过</button></td>
              </tr>
              
            </tbody>
          </nz-table>
          </nz-tab>
      </nz-tabset>
  </nz-content>


</nz-layout>