<div class="menu">
<ul nz-menu nzMode="horizontal" style="background-color: rgb(219, 222, 232);">
    <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="profile" nzTheme="outline"></i>
      <a href="community">Community List</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <i nz-icon nzType="bank" nzTheme="outline"></i>
    <a href="communityScene"> Study Community </a>
  </li>
    <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      <a href="personalInfo">Personal Infomation</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <a href="freeTask"> Free Assign </a>
      </li>
  </ul>
  </div>