
         <div style="background-color: white;"></div>
          <ul nz-menu nzTheme="light" nzMode="inline">
            <li nz-menu-item  >
                <i nz-icon nzType="user" nzTheme="outline" ></i>
            <span><a href="personalInfo"></a>Basic Info</span>
            </li>
            <li nz-menu-item>
                <i nz-icon nzType="read" nzTheme="outline"></i>
              <span> <a href="personalTaskInfo"></a>Tasks</span>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="file-image" nzTheme="outline"></i>
            <span> <a href="personalImage"></a>Image</span>
          </li>
            <li nz-menu-item>
                <i nz-icon nzType="shop" nzTheme="outline"></i>
              <span> <a href=""></a>Experience Mall</span>
            </li>
          </ul>
       
       
   